<p id="notice"><%= notice %></p>

<h1>Gerais</h1>
<div class="row">
  <ul>
    <li>
      <div class="col s4 m">
        <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/assets/office.jpg">
        </div>
          <div class="card-action">
          <span class="card-title activator grey-text text-darken-4">Nome do produto
            <i class="material-icons right">more_vert</i>
            <i class="material-icons right">add</i></span>
          <p class="card-title activator grey-text text-darken-4">
            <a href="http://localhost:3000/compras" class="waves-effect waves-light btn" style="font-size: 10px;">comprar</a>
            <span class="right">preço: 250</span>
          </p>
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <a href="#">Ver loja </a>
            <i class="material-icons right">close</i></span>
            <p>Descricao do produto.<span class="right">estado</span></p>
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/assets/office.jpg">
            </div>
          </div>
        </div>
      </div>
    </li> 
<li>
  <div class="col s4 m">
    <div class="card sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/assets/mac.jpg">
    </div>
      <div class="card-action">
      <span class="card-title activator grey-text text-darken-4">Nome do produto
        <i class="material-icons right">more_vert</i>
        <i class="material-icons right">add</i></span>
      <p class="card-title activator grey-text text-darken-4">
        <a href="http://localhost:3000/compras" class="waves-effect waves-light btn" style="font-size: 10px;">comprar</a>
        <span class="right">preço: 250</span>
      </p>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <a href="#">Ver loja </a>
        <i class="material-icons right">close</i></span>
        <p>Descricao do produto.<span class="right">estado</span></p>
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/assets/mac.jpg">
        </div>
      </div>
    </div>
  </div>
</li>
<li>
  <div class="col s4 m">
    <div class="card sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/assets/hum.jpg">
    </div>
      <div class="card-action">
      <span class="card-title activator grey-text text-darken-4">Nome do produto
        <i class="material-icons right">more_vert</i>
        <i class="material-icons right">add</i></span>
      <p class="card-title activator grey-text text-darken-4">
        <a href="http://localhost:3000/compras" class="waves-effect waves-light btn" style="font-size: 10px;">comprar</a>
        <span class="right">preço: 250</span>
      </p>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <a href="#">Ver loja </a>
        <i class="material-icons right">close</i></span>
        <p>Descricao do produto.<span class="right">estado</span></p>
                <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/assets/hum.jpg">
    </div>
      </div>
    </div>
  </div>
</li> 
  </ul>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gerais.each do |geral| %>
      <tr>
        <td><%= link_to 'Show', geral %></td>
        <td><%= link_to 'Edit', edit_geral_path(geral) %></td>
        <td><%= link_to 'Destroy', geral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
