<p id="notice"><%= notice %></p>

<h1>Piteus</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piteus.each do |piteu| %>
      <tr>
        <td><%= link_to 'Show', piteu %></td>
      </tr>
    <% end %>
  </tbody>
</table>
