
<ul class="dropdown-content" id="cart-dropdown">
  <li><a href="#">limpar carrinho</a></li>
  <li><a href="#">check out</a></li>
</ul>
<ul class="dropdown-content" id="account-dropdown">
  <li><a href="http://localhost:3000/dashboard">login</a></li>
  <li><a href="#">account settings</a></li>
</ul>
<ul class="dropdown-content" id="menu-dropdown">
  <li><a href="#">menu item 1</a></li>
  <li><a href="#">menu item 2</a></li>
</ul>
<ul class="dropdown-content" id="departamento-dropdown">
  <li><a href="#" class="dropdown-button" data-activates="produto-dropdown">Produtos</a></li>
  <li><a href="#">Pitéu</a></li>
  <li><a href="#">Servicos</a></li>
  <li><a href="#">Aluguer</a></li>
</ul>
<ul class="dropdown-content" id="produto-dropdown">
  <li><a href="#" class="dropdown-button" data-activates="categoria-dropdown">Eletrónico</a></li>
  <li><a href="#">Alimentos</a></li>
  <li><a href="#">Eletrodomésticos</a></li>
  <li><a href="#">Automóveis</a></li>
</ul>
<div class="navbar-fixed">
  <nav class="bg-transparent navbar-my-color">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center hide-on-med-and-down">
        senco
      </a>
      <ul class="left">
        <li>
          <a href="#" data-activates="slide-out" class="button-collapse show-on-large" data-turbolinks="false"><i class="material-icons">more_vert</i></a>
          
        </li>
      </ul>
      <ul class="right">
      <% if usuario_signed_in? %>
        <% if current_usuario.roles_mask == "cliente" %>
            <% @carrinho = Carrinho.where(estado: "em_compra", usuario_id: current_usuario.id)%>
                <%if @carrinho.count == 0%>
                    <% @carrinho = Carrinho.create(usuario_id: current_usuario.id, estado: "em_compra")%>
                    <% @carrinho.save%>
                <%else%>
                    <% @carrinho = @carrinho.first%>
                <%end%>
            <li>
            <%= link_to carrinho_url(@carrinho.id) do %>
              <i class="material-icons left">shopping_cart</i>
                <span class="badges" data-badge-caption=""><%= @carrinho.pedidos.count unless @carrinho.pedidos.nil? %></span>
            <%end%>
            </li>
         <%end%>
      <% end %>
        
        <li>
          <a href="#" class="dropdown-button" data-activates="menu-dropdown">
            <i class="material-icons">apps</i>
          </a>
        </li>
        <li><a href="#" class="dropdown-button" data-activates="notification-dropdown"><i class="material-icons">notifications</i></a></li>
        <li><a href="#" class="dropdown-button" data-activates="account-dropdown"><i class="material-icons">account_circle</i></a></li>
      </ul>
    </div>
  </nav>
</div>
